.box1:nth-child(1) .box{
    background-image: url(../images/sci1.jpg);
  }

  .box1:nth-child(2) .box{
      background-image: url(../images/sci2.jpg);
  }

  .box1:nth-child(3) .box{
      background-image: url(../images/sci3.jpg);
  }

  .box1:nth-child(4) .box{
      background-image: url(../images/sci4.jpg);
  }
  .box1 .box{
    background-size: 100% 100%;
    background-repeat: no-repeat;
}