<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="icon" th:href="@{/spaceflight/assets/images/favicon.ico}" />
	<link rel="stylesheet" th:href="@{/spaceflight/vendor/bootstrap/css/bootstrap.min.css}" />
	<link rel="stylesheet" th:href="@{/spaceflight/assets/css/global.css}" />
	<link rel="stylesheet" th:href="@{/spaceflight/assets/css/login.css}" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
	<title>后台新闻页</title>
</head>
<body>
	<div class="nk-container">
		<!-- 头部 -->
		<header class="bg-light sticky-top"  style="box-shadow: 5px 5px 5px #4f4fcddb;">
			<div class="container" style="vertical-align: middle;height: 70px;">
				<!-- 导航 -->
				<nav class="navbar navbar-expand-lg navbar-dark">
					<!-- logo -->
					<a class="navbar-brand" href="#"></a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
				</nav>
			</div>
		</header>

		<!-- 内容 -->
		<div class="main">
			<div class="container pl-5 pr-5 pt-3 pb-3 mt-3 mb-3" style="padding-top: 40px!important;">	
				<!-- 提示框 -->
				<div class="modal fade" id="hintModal" tabindex="-1" role="dialog" aria-labelledby="hintModalLabel" aria-hidden="true">
					<div class="modal-dialog modal-lg" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="hintModalLabel">提示</h5>
							</div>
							<div class="modal-body" id="hintBody"></div>
						</div>
					</div>
				</div>

				<h3 class="text-center text-info border-bottom pb-3" style="color:  #3333CC !important;">新&nbsp;&nbsp;闻&nbsp;&nbsp;编&nbsp;&nbsp;辑</h3>
				<!-- 新闻列表 -->
				<table class="table table-bordered" style="font-family: '楷体'; font-size: 17px;">
                    <thead>
                      <tr>
                        <th scope="col">新闻编号</th>
                        <th scope="col">主标题</th>
                        <th scope="col">子标题</th>
                        <th scope="col" style="width: 60px">创建时间</th>
                        <th scope="col">操作</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr th:each="news : ${newsList}">
                        <th scope="row" th:text="${news.id}">1</th>
                        <td th:text="${news.title1}">admin</td>
                        <td th:text="${news.title2}">管理员</td>
                        <td th:text="${#dates.format(news.time, 'MM-dd')}" style="width: 60px">2022-5-12</td>
                        <td>
                            <a th:href="@{|/spaceflight/getNewsEditPage/${news.id}|}" style="text-decoration:none;">
								<button type="button" class="btn btn-primary">编辑</button>
							</a>
                        </td>
                      </tr>
                    </tbody>
                </table>

				<!-- 分页 -->
				<!-- <nav class="mt-5" th:if="${page.rows > 0}" th:fragment="pagination">
					<ul class="pagination justify-content-center">
						<li class="page-item">
							<a class="page-link" th:href="@{${page.path}(current=1)}">首页</a>
						</li>
						<li th:class="|page-item ${page.current == 1 ? 'disabled' : ''}|">
							<a class="page-link" th:href="@{${page.path}(current=${page.current - 1})}">上一页</a>
						</li>
						<li th:class="|page-item ${i == page.current ? 'active':''}|" th:each="i : ${#numbers.sequence(page.from,page.to)}">
							<a class="page-link" th:href="@{${page.path}(current=${i})}" th:text="${i}">1</a>
						</li>
						<li  th:class="|page-item ${page.current == page.total ? 'disabled' : ''}|">
							<a class="page-link" th:href="@{${page.path}(current=${page.current + 1})}">下一页</a>
						</li>
						<li class="page-item">
							<a class="page-link" th:href="@{${page.path}(current=${page.total})}">末页</a>
						</li>
					</ul>
				</nav> -->
			</div>
		</div>

		<!-- 尾部 -->
		<footer class="bg-dark" style="background-color: #3333CC!important;">
			<div class="container">
				<div class="row">
					<!-- 火箭 -->
					<div class="col-4 qrcode">
						<img th:src="@{/spaceflight/assets/images/后台管理_火箭.png}" class="img-thumbnail" style="width:136px;" />
					</div>
					<!-- 提示信息 -->
					<div class="col-4 detail">
						<div class="row">
							<div class="col">
								<ul class="nav btn-group-vertical company-info">
									<li class="nav-item text-white-80" style="font-weight: 800; font-size: large;">
										<i class="bi bi-heart"></i> 页面介绍：
									</li>
									<li class="nav-item text-white-80" style="font-size: medium;">
										该页面主要用于进行新闻的详细信息展示
									</li>
									<li class="nav-item text-white-80" style="font-weight: 800; font-size: large;">
										<i class="bi bi-book"></i> 温馨提示：
									</li>
									<li class="nav-item text-white-80" style="font-size: medium;">
										如果需要查看对应的数据内容，请跳转到
										<a th:href="@{/spaceflight/getNewsPage}" class="nav-item text-white-80">新闻主页</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<!-- 宇航员 -->
					 <div class="col-4 qrcode">
						<img th:src="@{/spaceflight/assets/images/后台管理_宇航员.png}"  class="img-thumbnail" style="width:136px;" />
					</div>
				</div>
			</div>
		</footer>

	</div>
	
</body>
</html>
